@page "/home"
@inject Data.Login l;

<div style="display: grid;place-items: center;width: 100%;height: 100vh;">
    <div>
        <p style="font-size: 10vh; text-align: center;color:var(--gsky-bg-lime); ">
            Opp Kanban Tracker
        </p>
        <p style="text-align:center;">
            @if(l.IsLoggedIn) {
                @l.Username;
                <PieChart />
            }
        </p>
    </div>
</div>

