@page "/home"
@inject Data.Login l;

<div style="display: grid;place-items: center;width: 100%;height: 100vh;">
    <div>
        <div class="row">
            <p style="font-size: 10vh; text-align: center;color:var(--gsky-bg-lime); ">
                Opp Kanban Tracker
            </p>
        </div>
        @if(l.IsLoggedIn) {
            <div class="row">
                    <p style="text-align:center;width:100%;"> @l.Username</p>
            </div>
        }
        <div class="row">
            <div class="col-sm-4"><p>Op Stages</p></div>
            <div class="col-sm-4"><p>Champions</p></div>
            <div class="col-sm-4"><p>Op Products</p></div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                @if(l.IsLoggedIn) {
                    <PieChart_Cards />
                }
            </div>
            <div class="col-sm-4">
                @if(l.IsLoggedIn) {
                    <PieChart_Contacts />
                }
            </div>
            <div class="col-sm-4">
                @if(l.IsLoggedIn) {
                    <PieChart_Products />
                }
            </div>
        </div>
    </div>
</div>

