@page "/"
@page "/login"
@layout NavlessLayout
@inject Data.Login l;
@inject NavigationManager NavigationManager

  <div class="login-parent" >
    <div class="login-child">
        <h1>Opp Kanban</h1>
        <label for="txt_username" class="col-form-label col-form-label-md">Email Address</label>
        <input type="text" name="txt_username" id="txt_username" @bind="username" @bind:event="onchange" class="form-control form-control-lg" placeholder="Email" />

        <label for="txt_password" class="col-form-label col-form-label-md">Password</label>
        <input type="password" name="txt_password" id="txt_password" @bind="password" @bind:event="onchange" class="form-control form-control-lg" placeholder="Password" />

        <br>

        @if (failedLogin)
        {
            <div class="alert alert-danger" role="alert">Your email address or password is incorrect.</div>
        }

        @if (!isLoading)
        {
            <button class="btn btn-primary btn-lg" @onclick="RunLogin" id="btn_login" style="width:100%;">Login</button>
        }
        else
        {
            <button class="btn btn-primary btn-lg" disabled style="width:100%;" ><span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Logging In...</button>
        }
    </div>
  </div>


@code {
    private bool isLoading = false;
    private bool failedLogin = false;
    private string username = "";
    private string password;

    private async Task RunLogin()
    {
        isLoading = true;
        try {
            await l.DoLogin(username, password);
        } catch (Exception e) {
            failedLogin = true;
        }
        if (l.IsLoggedIn)
        {
            NavigationManager.NavigateTo("/home");
        }
        else
        {
            failedLogin = true;
        }
        isLoading = false;
    }
}