@page "/new"
@using MongoDB.Bson;
@using Realms;
@using Realms.Sync;
@inject Data.Login l;
@inject NavigationManager NavigationManager

<h1>New Opportunity</h1>

<label>Name</label>
<input type="text" @bind="txt_name" @bind:event="onchange" class="form-control" />

<label>SF Link</label>
<input type="text" @bind="txt_link" @bind:event="onchange" class="form-control" />

<label>POP Link</label>
<input type="text" @bind="txt_pop" @bind:event="onchange" class="form-control" />

<label>People</label>
<input type="text" @bind="txt_people" @bind:event="onchange" class="form-control" />

<label>NTSE</label>
<input type="text" @bind="txt_ntse" @bind:event="onchange" class="form-control" />

<label>Stage</label>
<select id="ddl_stage" name="ddl_stage" class="form-control" @bind="ddl_stage">
    <option value="Discovery">Discovery</option>
    <option value="Sizing">Sizing</option>
    <option value="Tech Validation">Tech Validation</option>
    <option value="Closed Won">Closed Won</option>
    <option value="Closed Lost">Closed Lost</option>
</select>

<label>Color</label>
<select id="ddl_color" name="ddl_color" class="form-control" @bind="ddl_color">
    <option value="#E51400">Red</option>
    <option value="#1BA1E2">Cyan</option>
    <option value="#008A00">Emerald</option>
    <option value="#60A917">Green</option>
    <option value="#6A00FF">Indigo</option>
    <option value="#D80073">Magenta</option>
    <option value="#76608A">Mauve</option>
    <option value="#FA6800">Orange</option>
</select>

<br>
<button class="btn btn-lg btn-success" @onclick="Insert">Track New Op</button>

@code {
    [Parameter]
    public string ID { get; set; }

    private string txt_name, txt_link, txt_pop, ddl_stage, ddl_color, txt_ntse, txt_people;

    protected override async Task OnInitializedAsync()
    {
        ddl_stage = "Discovery";
        ddl_color = "#E51400";
    }

    private async Task Insert()
    {
        if (l.IsLoggedIn.Equals(false))
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {

            Data.KanbanTask kt = new Data.KanbanTask();
            kt.Name = txt_name;
            kt.Link = txt_link;
            kt.POP = txt_pop;
            kt.Stage = ddl_stage;
            kt.Partition = l.partition;
            kt.Color = ddl_color;
            kt.Team = txt_people;
            kt.NTSE = txt_ntse;

            l.realm.Write(() =>
            {
                l.realm.Add(kt);
            });
        }

    }
}

