:root {
    font-size: 22px;
    --gsky-bg-primary: #647687;
    --gsky-bg-lime: #2A2C2B;
    --gsky-bg-secondary: #374140;
    --gsky-text-primary: #374140;
    --gsky-text-secondary: #BDC3C7;
    --gsky-highlight: #D9CB9E;
}

h1 {
    color: var(--gsky-text-primary);
}

h2 {
    color: var(--gsky-bg-primary);
}

.login-parent {
    display: grid;
    place-items: center;
    background:var(--gsky-bg-lime);
    width: 100vw;
    height: 100vh;
}

.login-child {
    padding: 2rem;
    border: 1px solid var(--gsky-highlight);
    background: var(--gsky-text-secondary);
    font-size: 1.5rem;
    text-align: center;
}

.bottom-row {
    position: absolute;
    bottom: 10px;
    color: var(--gsky-text-secondary);
    font-size:14px;
    font-weight: bold;
    width:100%;
    text-align:center;
}

.img_profile {
    border-radius: 50%;
}
  
html,body {
    font-family: 'Barlow', sans-serif;
}