@inject Data.Login l;

<div class="navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="new">
                <span class="oi oi-plus" aria-hidden="true"></span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="list">
                <span class="oi oi-list-rich" aria-hidden="true"></span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="contacts">
                <span class="oi oi-people"></span>
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="services">
               <span class="oi oi-cloud"></span>
            </NavLink>
        </li>
    </ul>
</div>


@if(l.IsLoggedIn) {
    <div class="bottom-row navbar-dark d-none d-md-block @NavMenuCssClass" id="ctr_profile">
        <img width="64" height="64" src="https://www.gravatar.com/avatar/@l.Gravatar" class="img_profile">
    </div>
}

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
