@using ApexCharts;
@using MongoDB.Bson;
@using Realms;
@using Realms.Sync;
@inject Data.Login l;

@if(l.IsLoggedIn.Equals(true)){
    <div style="margin-top:20px;">
        <ApexChart TItem="GBValues" ChartType="ChartType.Pie" Options="chartOptions" Height="300">
            <ApexSeries TItem="GBValues"
                        Items="@groupList"
                        Name="Spend"
                        XValue="@(e => e.ChampionStatus)"
                        YValue="@(e => e.Count)"
                        ShowDataLabels="true" />
        </ApexChart>
    </div>
}

@code {

    private ApexChartOptions<GBValues> chartOptions = new ApexChartOptions<GBValues>();
    private List<GBValues> groupList = new List<GBValues>();

    private class GBValues {
        public string ChampionStatus {get; set;}
        public int Count {get; set;}
    }

    protected override async Task OnInitializedAsync() {
        if (l.IsLoggedIn.Equals(true))
        {
            chartOptions.Colors = new List<string>(new string[] {"#647687", "#2A2C2B", "#374140", "#D9CB9E", "#BDC3C7","#647687", "#2A2C2B", "#374140", "#D9CB9E", "#BDC3C7"});
            chartOptions.Legend = new Legend{Show = true};
            chartOptions.Chart = new Chart();
            chartOptions.Chart.Toolbar = new Toolbar{Show=false};
            var allContacts = l.realm.All<Data.Contact>().Where(c => c.ChampionStatus != null).ToList();
            var q = from c in allContacts 
                    group c by c.ChampionStatus
                    into newGroup 
                    select new {
                        ChampionStatus = newGroup.Key, Count = newGroup.Count()
                    };

            groupList = q.Select(g=>new GBValues(){ChampionStatus = g.ChampionStatus, Count = g.Count}).ToList();

            StateHasChanged();
        }
    }
}